.taxonomy_nodes .form-item {
  float: left;
  margin-right: 15px;
  margin-top: 0px;
}

.taxonomy_nodes .form-submit {
  margin-top: 20px;
  margin-bottom: 0px;
}

.taxonomy_nodes .form-item label.option {
  display: block;
  margin-top: 20px;
  margin-right: 15px;
}

#taxonomy_nodes_wrapper hr, #taxonomy_nodes_wrapper br {
  clear: left;
  margin-bottom: 15px;
}

#taxonomy_nodes_wrapper form {
  margin-bottom: 5px;
  clear: left;
}

.taxonomy_nodes_del_item {
  width: 150px;
}